/*
Black #000000
White #FFFFFF
Gray #707070
Orange #BF7631
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    color: black;
    background-color:white;
    padding: 5px;
}

nav ul {
    list-style: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem
}

nav li{
    display: inline;
    margin-left: 0.5rem;
}

.cara1 {
    position: absolute;
    display: inline;
    top: 0.7rem;
    margin-left: 50%;
    
}

.search {
    top: 0.7rem;
    margin-left: 75%;
}

.cart{
    position: absolute;
    display: inline;
    top: 0.7rem;
    margin-left: 90%;
}
.home{
    color: white;
    display: flex; 
}

.text1{
    display: flex;
    position: absolute;
    top: 50%;
    left: 10%;
}
.text2{
    display: flex;
    position: absolute;
    top: 50%;
    right: 10%;
}
.about{

}
.products img{
    display:flex;
    height: 398px;
    width: 398px;
    object-fit: cover;
}
